footer {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;  
  background: var(--color-primary);
}

footer a {
  color: var(--color-light);
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 1.5rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer-socials a {
  color: var(--color-bg);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  transition: var(--transition);
  font-size: 1.5rem;
}

.footer-socials a:hover {
  background: var(--color-bg);
  color: var(--color-white);
  border-color: var(--color-bg);
}

.footer-copyright {
  color: var(--color-bg);
}
/* *************** SMALL DEVICES ************** */
@media screen and (max-width: 600px) {
  .permalinks {
    gap: 2rem;
  }
}
